<section class="sectionTop">

    <nav>
        <h2 class="websiteName">NewFaceX</h2>
        <ul class="flex items-center">
          <li class="itemNav" id="home" (click)="openHome()">Home </li>
          <li class="itemNav" id="top" (click)="openTop()">Top <hr></li>
          <li class="itemNav" id="myList" >My List</li>
          
        </ul>
        <img src="../assets/img/search.png" alt="search" id="search"  (click)="openSearch()">
    
        <input type="text" placeholder="Search"  id="searchBar">
      </nav>

      <p>hola mundo</p>
      <p>naruuutooooo</p>
      <p>el ninja chachi</p>
      <p>10/10</p>
      <button>ver naruto</button>
</section>