<section id="section">
    <nav>
        <h2 class="websiteName">NewFaceX</h2>
        <ul class="flex items-center">
          <li class="itemNav" id="home" (click)="openHome()">Home <hr></li>
          <li class="itemNav" id="top" (click)="openTop()">Top</li>
          <li class="itemNav" id="myList" >My List</li>
          
        </ul>
        <img src="../assets/img/search.png" alt="search" id="search"  (click)="openSearch()">
    
        <input type="text" placeholder="Search"  id="searchBar">
      </nav>
    
      <main class="containerSectionInfo" >
        <div >
          <div class="caps">1000 Caps</div>
          <h1 class="titleAnimeRank1">ONE PICE</h1>
          <p class="description">Una historia épica de piratas, donde narra la historia de "Monkey D. Luffy" quien cuando tenia 7 años, comió accidentalmente una "Akuma no mi"(Fruta del diablo) la cual le convirtió en un hombre de goma. Por otra parte "Gol D. Roger" conocido como "El rey de los Piratas" quien fuera ejecutado por la Marine, habló antes de morir, acerca de su mayor tesoro,el "One Piece" escondido en la "Gran line". Esta noticia desató la gran era de los piratas lanzando a incontables piratas a ese lugar, en busca del "One Piece" el tesoro perdido. Diez años después, Luffy inspirado en "Gol D. Roger" y un pirata de nombre Akagami no Shanks (Shanks el pelirrojo) se convierte en pirata deseando ser el próximo "Rey de los Piratas" y zarpar para conocer amigos y tener aventuras con ellos, teniendo como meta encontrar el "One Piece".</p>
          <div class="ranking">
            <h3 >Ranking</h3>
            <p>9.0/10</p>
          </div>
    
          <div class="buttons">
            <button class="watch"> <img src="../assets/img/play.png" alt="" class="icon">Watch Now</button>
            <button class="list"> <img src="../assets/img/plus.png" alt="" class="icon">Add to List</button>
          </div>
    
        </div>
      </main>
</section>